
.card {
    background: rgb(209,209,221);
    background: linear-gradient(90deg, rgba(209,209,221,1) 0%, rgba(232,228,244,1) 38%, rgba(128,177,187,1) 100%);  
    padding: 3em;
    border-radius: 4px;
}















